.intro {
    grid-area: intro;

    .title {
        font-family: "Poppins";
        font-size: 3em;
        color: #130f40;
    }

    #firstline {
        margin-bottom: -50px;
    }

    .description{
        display: block;
        font-family: "Roboto";
        font-size: 1.5em;
        line-height: 2.1em;
    }
    
    .links{
        word-spacing: 20px;
        margin-bottom: 100px;
    }
    

}

