
.intro {
    grid-area: intro;

    .title {
        font-family: "Poppins";
        font-size: 5em;
        line-height: 1.5em;
        color: #30336b;
    }
    
    #firstline {
        margin-top: -10px;
        margin-bottom: -30px;
    }

    .description{
        display: block;
        font-family: "Poppins";
        font-size: 3.5em;
        font-weight: 700;
        line-height: 1.2em;
    }
    
    .links{
        word-spacing: 2em;
        margin-bottom: 2em;
    }

    @media only screen and (max-device-width: 480px){
        padding: 3em 3em 3em 3em;

        .title {
            font-size: 4em;
            
        }
        .description{
            font-size: 3.8em;
        }
        
        .links{
            display: flex;
            flex-direction: column;
        }

        a{
            text-align: center;
            margin-bottom: 1em;
        }


        
    }
    

}

