.blog-container {
    height: 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 15% 60% 10% 15%;
    grid-template-areas:
        ". container . ."
        ". container . ."
        ". container . .";

    .container {
        grid-area: container;

        display: flex;
        flex-direction: column;
    }

    .post {
        h2 {
            font-family: 'Poppins';
        }
    }
}